<html id="show" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Propieteer - ADMIN -</title>
  <link rel="stylesheet" href="/Propieteer-Inmobiliaria/CSS/styles.css">
  <link rel="stylesheet" href="/Propieteer-Inmobiliaria/CSS/show-data.css">
  <link rel="shortcut icon" href="/Propieteer-Inmobiliaria/resources/real-estate2.png" type="image/x-icon">
  <!-- ATRIBUTED TO: <a href="https://www.flaticon.es/iconos-gratis/bienes-raices" title="bienes raíces iconos">Bienes raíces iconos creados por Vector Valley - Flaticon</a> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400;500;600;700&family=Ms+Madi&family=Sacramento&family=Wix+Madefor+Display:wght@500;700&family=Ysabeau+SC:wght@500;600;800&display=swap&family=AR+One+Sans:wght@400;500;700&display=swap&family=Quicksand:wght@300;600&display=swap"
    rel="stylesheet" rel=" stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body class="body-index-page body-show">

  <!-- conectamos la app VUE con la seccion del html -->
  <div id="app">
    <nav class="show-info">
      <h1 id="feedback"> Propieteer - Admininistración </h1>
      <!-- aca el admin decide la view que desea ver -->
      <ul class="views-container">
        <li class="menu"><a class="line" v-on:click="show('home')">HOME</a></li>
        <li class="menu"><a class="line" v-on:click="show('propiedades')">PROPIEDADES</a></li>
        <li class="menu"><a class="line" v-on:click="show('vendedores')">VENDEDORES</a></li>
      </ul>
    </nav>
  </div>

  <main class="main-pestañas show-view">

    <div id="view_vendedores" class="container">
      <div v-if="loading" id="spinner-container">
        <div class="spinner-border" id="spinner"> </div>
      </div>

      <div v-else>
        <h1>Vendedores</h1>
        <a class="btn btn-primary" href="nuevoVendedor.html">Nuevo</a>
        <div v-if="error">
          <p>Lo sentimos , ........</p>
        </div>
        <div v-else>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Matricula</th>
                  <th scope="col">Profesion</th>
                  <th scope="col">Mail</th>
                  <th scope="col">Telefono</th>
                  <th scope="col">Salario</th>
                  <th scope="col">Foto</th>
                  <th scope="col"> </th>
                </tr>
              </thead>
              <tbody>
                <tr class="" v-for="vendedor in vendedores">
                  <td scope="row">{{vendedor.idVendedor}}</td>
                  <td>{{vendedor.apellido}}</td>
                  <td>{{vendedor.nombre}}</td>
                  <td>{{vendedor.matricula}}</td>
                  <td>{{vendedor.profesion}}</td>
                  <td>{{vendedor.mail}}</td>
                  <td>{{vendedor.telefono}}</td>
                  <td>{{vendedor.sueldo}}</td>
                  <td>
                    <img style="width: 50px;" :src="vendedor.imagen" :alt="vendedor.nombre">
                  </td>
                  <td>
                    <a class="btn btn-primary" :href="'editarVendedor.html?idVendedor='+ vendedor.idVendedor">Editar</a>
                    <button type="button" class="btn btn-danger"
                      v-on:click="eliminar(vendedor.idVendedor)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </main>


  <!-- fin de la app VUE -->

  <footer class=" footer-view">
    <img id="footerImagen" src="/Propieteer-Inmobiliaria/resources/logo.png" alt="PROPIETEER LOGO" title="Home Page">
    <ul class="footer-contacto">
      <li>Av. Siempre Viva 1553</li>
      <li>1234-5678/ 11-9876-5432</li>
      <li><a href="mailto:propieteer@gmail.com">propieteer@gmail.com</a></li>
    </ul>
    <ul class="redes-container">
      <li><a href="https://www.instagram.com" target="_blank"><img
            src="/Propieteer-Inmobiliaria/resources/instagram.svg" alt="propieteer instagram" class="redes"></a></li>
      <li><a href="https://www.facebook.com" target="_blank"><img
            src="/Propieteer-Inmobiliaria/resources/square-facebook.svg" alt="propieteer facebook" class="redes"></a>
      </li>
      <li><a href="https://www.twitter.com" target="_blank"><img src="/Propieteer-Inmobiliaria/resources/twitter.svg"
            alt="propieteer twitter" class="redes"></a>
      </li>
      <li><a
          href="https://api.whatsapp.com/send?phone=11674158639121&text=Hola!%20Me%20gustaría%20hacer%20unar%20consulta%20%F0%9F%98%8A"
          target="_blank"><img src="/Propieteer-Inmobiliaria/resources/whatsapp.svg" alt="propieteer whatsapp"
            class="redes"></a>
      </li>
    </ul>
    <p class="copy">Todos los derechos reservados RoMaFeLe INC 2023</p>
    <p>Sitio desarrollado por Romina Gargano, Marco Nuñez, Federica Taborda y Leando Luna - estudiantes Codo a Codo
      2023</p>
  </footer>

  <!-- linkeamos VUE -->
  <script src="https://unpkg.com/vue@next"></script>
  <!-- conectamos html con los script a traer -->
  <script src="js/componentes.js"></script>
  <script src="js/view-vendedores.js"></script>
  <!-- conectamos esos script con VUE para cambiar las vistas -->
  <script src="js/scriptVUE.js"></script>

</body>

</html>