<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
<head>
   
</head>
<body class="body-index-page body-show">
    <header class="header-views">
        
    </header>
    <main class="main-pestañas show-view">

        <div id="view_propiedades" class="container">
            <div v-if="loading" id="spinner-container">
                <div class="spinner-border" id="spinner"> </div>
            </div>

            <div v-else>
                <h1>Propiedades</h1>
                <a class="btn btn-primary" href="propiedad_agregar.html" style="margin-bottom: 20px;">Nuevo</a>
                <div v-if="error">
                    <p>Lo sentimos, ha ocurrido un error inesperado. Recargue la pantalla.</p>
                </div>
                <div v-else>
                    <div class="table-responsive">
                        <table class="table table-hover table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Descripción</th>
                                    <th scope="col">Ambientes</th>
                                    <th scope="col">Dirección</th>
                                    <th scope="col">Provincia</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Foto</th>
                                    <th scope="col">Propietario</th>
                                    <th scope="col">Telefono</th>
                                    <th scope="col">Mail</th>
                                    <th scope="col"></th>
                                  </tr>
                            </thead>
                            <tbody>
                                <tr class="" v-for="propiedad in propiedades">
                                  <td scope="row">{{propiedad.idPropiedad}}</td>
                                  <td>{{propiedad.tipo}}</td>
                                  <td>{{propiedad.descripcion}}</td>
                                  <td>{{propiedad.ambientes}}</td>
                                  <td>{{propiedad.direccion}}</td>
                                  <td>{{propiedad.provincia}}</td>
                                  <td>{{propiedad.precio}}</td>
                                  <td>
                                    <img style="width: 50px;" :src="propiedad.imagen" :alt="propiedad.descripcion">
                                  </td>
                                  <td>{{propiedad.propietario}}</td>
                                  <td>{{propiedad.tel_contacto}}</td>
                                  <td>{{propiedad.mail_contacto}}</td>
                                  
                                  <td style="text-align: center; ">
                                    <a class="btn btn-primary" :href="'propiedad_modificar.html?idPropiedad='+ propiedad.idPropiedad">Editar</a>
                                    <button style="margin:10px" type="button" class="btn btn-danger"
                                      v-on:click="eliminar(propiedad.idPropiedad)">Eliminar</button>
                                  </td>
                                </tr>
                              </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <footer class="footer-view">

    </footer> 
    <script src="https://unpkg.com/vue@next"></script>
    <script src="../js/componentes.js"></script>
    <script src="../js/view_propiedades.js"></script>
    <script src="../js/editar_propiedad.js"></script>
</body>
</html>