<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body class="body-index-page body-show">
    <header class="header-views">

    </header>
    <main class="main-pestañas show-view">

        <div id="view_vendedores" class="container">
            <div v-if="loading" id="spinner-container">
                <div class="spinner-border" id="spinner"> </div>
            </div>

            <div v-else>
                <h1>Vendedores</h1>
                <a class="btn btn-primary" href="nuevoVendedor.html" style="margin-bottom: 20px;">Nuevo</a>
                <div v-if="error">
                    <p>Lo sentimos, ha ocurrido un error inesperado. Recargue la pantalla.</p>
                </div>
                <div v-else>
                    <div class="table-responsive">
                        <table class="table table-hover table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Matricula</th>
                                    <th scope="col">Profesion</th>
                                    <th scope="col">Mail</th>
                                    <th scope="col">Telefono</th>
                                    <th scope="col">Salario</th>
                                    <th scope="col">Foto</th>
                                    <th scope="col"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="" v-for="vendedor in vendedores">
                                    <td scope="row">{{vendedor.idVendedor}}</td>
                                    <td>{{vendedor.apellido}}</td>
                                    <td>{{vendedor.nombre}}</td>
                                    <td>{{vendedor.matricula}}</td>
                                    <td>{{vendedor.profesion}}</td>
                                    <td>{{vendedor.mail}}</td>
                                    <td>{{vendedor.telefono}}</td>
                                    <td>{{vendedor.sueldo}}</td>
                                    <td>
                                        <img style="width: 50px;" :src="vendedor.imagen" :alt="vendedor.nombre">
                                    </td>
                                    <td style="text-align: center; ">
                                        <a class="btn btn-primary"
                                        :href="'editarVendedor.html?idVendedor='+ vendedor.idVendedor">Editar</a>
                                        <button style="margin:10px" type="button" class="btn btn-danger"
                                            v-on:click="eliminar(vendedor.idVendedor)">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- fin de la app VUE -->
    <footer class=" footer-view">

    </footer>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="../js/componentes.js"></script>
    <script src="../js/view-vendedores.js"></script>
    <script src="../js/editar_vendedor.js"></script>
</body>

</html>