.show-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    line-height: 5rem;
}
.show-info>h1{
    font-family: 'Quicksand'!important;
    font-weight: 900!important;
}
#div-table{
    overflow-x:scroll;
}
#show-table{
    line-height: 1.5rem;
    border-collapse: collapse;
}
th, td{
    border: 1px solid white;
    padding: 10px 50px;
    font-family: 'Quicksand'!important;
}
td{
    max-width: 700px;
}
tr:hover {
    background-image: linear-gradient(to bottom, #545e83, #6b6d95, #827da7, #9a8cb9, #b39cca, #b59dcc, #b69fcf, #b8a0d1, #a393c5, #8d87b9, #787bac, #626f9f);
}
.views-container {
    display: flex;
    position: absolute;
    top: 20%;
    left: 25%;
    width:50%;
    align-items: center;
    justify-self: center;
    justify-content: space-around;  
    border: 2px solid green; 

}

#feedback{
    font-size: clamp(1.7rem, -1.1013rem + 6.7241vw, 3.4375rem);
}
.show-view,.footer-view {
    position:relative;
    border: 2px solid red;
    top:50%;
}
.show-view{
    display: block;
    height: 70vh;
}
@media screen and (max-width: 900px) {
    .menu{
        padding: 0px 10px;
    }
}

#spinner-container{
    border: 2px solid violet;
    height: 50vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#spinner{
    width: 4rem; height: 4rem;
    color: seashell;
}