<!DOCTYPE html>
<html lang="en">

<head>
    
</head>

<body class="body-pestañas">
    <header class="header-pestañas">
        
    </header>

    <main class="main-pestañas">
        <h2>nuestros profesionales</h2>
        <p class="intro-main">Ya sea que esté buscando comprar o vender una casa o un condominio en Buenos Aires y
            alrededores, tenemos un agente para ayudarlo. <span class="brand">Propieteer</span> ofrece disponibilidad de agentes los 7
            días de la semana para que siempre tenga alguien con quien comunicarse si tiene alguna pregunta. Todo el
            equipo de <span class="brand">Propieteer</span> reconoce la importancia de promover la reputación cuidadosamente cultivada
            por la compañia en materia de calidad, profesionalismo y, sobre todo, resultados.</p>
        <p class="intro-main">¿No está seguro de qué agente es el adecuado para usted? Para hablar con nosotros para así
            conectarlo con el agente perfecto para sus necesidades específicas:</p>
        <div class="intro-link">
            <a href="vende-con-nos.html">contáctenos</a>
        </div>

        <div class="fondo-cards" id="view_vend">
            <h3>Agentes disponibles:</h3>

            <div class="profesionales-container">

                <div class="container-card" v-for="vende in vendedores">

                    <img class="prof-photo" :src="vende.imagen" :alt="vende.nombre">
                    <h3 class="name box-style">{{vende.nombre}} {{vende.apellido}}</h3>
                    <h6 class="matricula">Matricula: {{vende.matricula}}</h6>
                    <h5 class="profesion box-style">{{vende.profesion}}</h5>
                    <p class="descripcion box-style"> {{vende.descripcion}}</p>
                    <div class="container-contacto">
                        <p class="contacto-mail"><a
                                href="mailto:armando.puertas@gmail.com?Subject: Me gustaria contratarte como realtor">{{vende.mail}}</a>
                        </p>
                        <p class="contacto-tel"><a target="_blank"
                                href="https://api.whatsapp.com/send?phone=115557286325&text=Hola!%20Me%20gustaría%20hacer%20unar%20consulta%20%F0%9F%98%8A">+{{vende.telefono}}</a></p>
                    </div>
                </div>
                
            </div>
        </div>
     
        <section id="app" class="other-agents-section">
            <h3 class="other-agents-title">Otros agentes que podrían interesarte: </h3>
            <div v-for="agente in datos" class="other-agents-container">
                <p class="nombre-agente">{{agente.name.first}} {{agente.name.last}}</p>
                <img class="agente-pic" :src="agente.picture.large" :alt="agente.name.first">
                <p class="agente-info tel"> {{agente.cell}}</p>
                <p class="agente-info">{{agente.location.city}} </p>
        </section>
    </main>

    <footer>
   
    </footer>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../JAVASCRIPT/main.js"></script>
    <script src="../JAVASCRIPT/view_vend.js" ></script>
</body>

</html>